body {
    background: #fafafa;
  }
  main {
    max-width: 877px;
    min-width: 480px;
    background: #cacaca;
    min-height: 100px;
    padding: 16px 32px;
    margin: auto;
    display: grid;
    grid-template-columns: 375fr 502fr;
  }
  
  .column-left > div {
    height: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 16px 16px 0;
  }
  
  .column-posts > div {
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 0 16px 0;
  }

  /* nr10 augšējā josla sākums*/

  .nr10-topLineContainer{
    position: relative;
    width: 1448px;
    height: 61;
    background-color: white;
    margin: auto;   
  }
  .nr10-left-side-container{
    position: absolute;   
    width: 344px;
    height: 61px;
  }
  .nr10-middle-container{
    position: absolute;    
    width: 700px;
    height: 61px;
    left: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nr10-name-container{
    position: absolute;
    height: 61px;
    width: 165px;    
    left: 1080px;
  }
  .nr10-right-side-container{
    position: absolute;    
    width: 192px;
    height: 61px;
    right: 9px;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nr10-FB-icon-class{
    position: absolute;
    top:10px;
    left: 14px;
  } 
  .nr10-input-container {
    position: absolute;
    margin-left:62px;
    margin-top: 10px;        
  }
  .nr10-input-field {
    width: 281px;
    height: 40px;
    background-color: #F1F2F5;
    border-radius: 100px;
    border: 0;
    padding: 11px 11px 11px 37px;
  }
  nr10-input-field::placeholder {
    font-size: 15px;
    color: 66676B;
  }     
  .nr10-input-field:focus {
    outline: none;
    background-color: #e3e5e9;
  }
  .nr10-search-icon-class{
    position: absolute;
    top:12px;
    left: 12px;
  }

  .nr10-blue-dot{
    position: absolute;
    background-color:#0572EF;
    width: 30px;
    height: 30px;    
    border-radius: 15px;
    top: 16px;
    margin-right: 7px;           
  }
  .nr10-name{
    position: absolute;
    text-align: center;
    left: 36px;
    top: 21px;
    color: #080808;
    font-family: Helvetica;
    font-size: 18px; 
  }
  .nr10-round-container{
    background-color:#E5E6EB;
    width: 40px;
    height: 40px;    
    border-radius: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nr10-red-dot{
    position: absolute;
    background-color:#DE3F4F;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    top: 8px;
    left: 18px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .nr10-red-dot-right-side{
    position: absolute;
    background-color:#DE3F4F;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    top: 4px;
    left: 25px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .nr10-relative{
    position: relative;
    height: 61px;
    display: flex;      
    align-items: center; 
  }

  

  /* nr10 augšējā josla beigas*/
 
  /* nr10 rīku josla sākums*/

  .nr10-navigation {
    max-width: 877px;
    min-width: 480px;
    border-top: 1px solid #cfd0d4;
    border-bottom: 1px solid #cfd0d4;
    margin: auto;
    display: flex;
    justify-content: space-between;   

  }
  
  .nr10-navigation nav a {
    font-family: Helvetica;
    font-size: 0.9375em;
    text-decoration: none;
    color: #66676b;
    padding: 1.3125em 1em;
    line-height: 3.75em;
  }

  .nr10-navigation nav :focus {
    color: #0572ef;
    border-bottom: 0.1875em solid #0572ef;
  }
  
  .nr10-navigation nav :focus svg path {
    fill: #0572ef;
  }
  
  .nr10-navigation a svg {
    vertical-align: middle;
    fill: #66676b;
  }
  
  .nr10-options-buttons {
    padding-top: 0.75em;
  }
  
  .nr10-options-buttons a {
    line-height: 2.25em;
    display: inline-block;    
    background: #e5e6eb;
    /*padding: 0.5em 0.6875em;*/
    border-radius: 0.375em;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 0.9375em;
    color: #080808;
    height: 2.25em;
    width: 6.875em;
    text-align: center;
    margin-right: 0.2em;
  }

  .nr10-options-buttons :focus {
    background: #E9F3FE;
    color: #0572EF;    
  }
  .nr10-options-buttons :focus svg path{
    fill: #0572ef;
  }
  
  .nr10-options-buttons .small{
    width: 3em;  

  }
  
  .nr10-options-buttons a svg {
    width: 1em;
    padding-bottom: 0.125em;
  }

  
  
  .nr10-button-search {
    position: relative;
    

  }
  .nr10-button-search:hover::before {
    content: "Search";
    position: absolute;
    padding: 0.4em;
    background: #343434;
    color: #ffffff;
    top: 2em;
    left: 0;
    animation: example 2s;
  }
  
  @keyframes example {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .nr10-navigation {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .nr10-navigation {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 535px) {
    .nr10-options-buttons a span {
      display: none;
    }
    .nr10-options-buttons a svg {
      padding: 2px;
    }
  }

  /* nr10 rīku josla beigas*/
  
