body {
    background: #fafafa;
  }
  main {
    max-width: 877px;
    min-width: 480px;
    background: #cacaca;
    min-height: 100px;
    padding: 16px 32px;
    margin: auto;
    display: grid;
    grid-template-columns: 375fr 502fr;
  }
  
  .column-left > div {
    height: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 16px 16px 0;
  }
  
  .column-posts > div {
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 0 16px 0;
  }

  td {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0px 0px; 
    position: absolute;
    width: 328px;
    height: 455px;
    left: 1037px;
    top: 1792px;
  }

  .chat-navigation-header nav {
    position: absolute;
    width: 328px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 0px 0px;
    display: flex;
  }

  .blue-circle {
    position: absolute;
    width: 33px;
    height: 33px;
    margin: 7px 287px 7px 8px;
  }

  .name {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 14px 237px 13px 48px;
  }

  .more-icon {
    position: absolute;
    margin: 23px 220.8px 18.84px 98px;
  }

  .minimize-icon {
    position: absolute;
    width: 15.17px;
    height: 2.17px;
    margin: 23px 47.83px 21.83px 265px;
  }

  .exit-icon {
    position: absolute;
    width: 15.17px;
    height: 15.17px;
    margin: 16px 16.83px 15.83px 296px;
  }
  
  .scrollable {
    overflow-y: scroll;
  }

  .tipically {
    position: absolute;
    width: 213px;
    height: 19px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 76px 58px 360px 57px;
  }

  .industry {
    position: absolute;
    width: 49px;
    height: 16px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #66676B;
    margin: 108px 146px 331px 133px;
  }

  .hi-sally {
    position: absolute;
    width: 306px;
    height: 48px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #66676B;
    margin: 130px 18px 277px 4px;
  }

  .when-you {
    position: absolute;
    width: 215px;
    height: 32px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #66676B;
    margin: 227px 63px 196px 50px;
  }

  #Question-A-goes-here {
    position: absolute;
    width: 170px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    margin: 270px 34px 155px 124px;
  }

  #Question-A-goes-here::placeholder {
    position: absolute;
    width: 148px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
  }

  #Question-B-goes-here {
    position: absolute;
    width: 170px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    margin: 318px 34px 107px 124px;
  }

  #Question-B-goes-here::placeholder {
    position: absolute;
    width: 148px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
  }

  #Question-C-goes-here {
    position: absolute;
    width: 170px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    margin: 366px 34px 59px 124px;
  }

  #Question-C-goes-here::placeholder {
    position: absolute;
    width: 148px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
  }

  .chat-navigation-footer nav {
    position: absolute;
    width: 328px;
    height: 52px;
    bottom: 0;
    background: #FFFFFF;
    display: flex;
  }

  .circle-plus{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 16px 298px 16px 10px;
  }

  .add-image {
    position: absolute;
    height: 17.83px;
    width: 18.56px;
    margin: 17px 268.43px 17.16px 41px;
  }

  .add-sticker {
    position: absolute;
    height: 17.83px;
    width: 18.56px;
    margin: 16px 236.27px 17.32px 74px;
  }

  .add-gif {
    position: absolute;
    height: 17.83px;
    width: 18.56px;
    margin: 16px 203.87px 18.17px 105px;
  }

  #Aa {
    position: absolute;
    width: 148px;
    height: 36px;
    background: #F1F2F5;
    border-radius: 100px;
    border: none;
    margin: 8px 45px 8px 135px;
  }

  #Aa::placeholder {
    position: absolute;
    width: 18px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #8C939C;
    padding-left: 10px;
  }

  .smile-icon {
    position: absolute;
    height: 19px;
    width: 19px;
    margin: 17px 54px 16px 255px;
  }

  .more-options {
    position: absolute;
    height: 10px;
    width: 10.5px;
    margin: 20.5px 18px 21.5px 299.5px;
  }

 
  

  

  


  /* nr10 augšējā josla sākums*/

  .nr10-topLineContainer{
    position: relative;
    width: 1448px;
    height: 61;
    background-color: white;
    margin: auto;   
  }
  .nr10-left-side-container{
    position: absolute;   
    width: 344px;
    height: 61px;
  }
  .nr10-middle-container{
    position: absolute;    
    width: 776px;
    height: 61px;
    left: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nr10-name-and-blue-dot-container{
    position: absolute;
    width: 90px;
    height: 61px;
    left: 1156px; 
  }
  .nr10-right-side-container{
    position: absolute;    
    width: 192px;
    height: 61px;
    right: 9px;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nr10-FB-icon-class{
    position: absolute;
    top:10px;
    left: 14px;
  } 
  .nr10-input-container {
    position: absolute;
    margin-left:62px;
    margin-top: 10px;        
  }
  .nr10-input-field {
    width: 281px;
    height: 40px;
    background-color: #F1F2F5;
    border-radius: 100px;
    border: 0;
    padding: 11px 11px 11px 37px;
  }
  nr10-input-field::placeholder {
    font-size: 15px;
    color: 66676B;
  }     
  .nr10-input-field:focus {
    outline: none;
    background-color: #e3e5e9;
  }
  .nr10-search-icon-class{
    position: absolute;
    top:12px;
    left: 12px;
  }

  .nr10-blue-dot{
    position: absolute;
    background-color:#0572EF;
    width: 30px;
    height: 30px;    
    border-radius: 15px;
    top: 16px;
    margin-right: 7px;           
  }
  .nr10name{
    position: absolute;    
    font-size: 18px;
    color: #080808;
    font-family: Helvetica;
    top: 21px;
    margin-left: 37px;
    margin-right: 13px;    
  }
  .nr10-round-container{
    background-color:#E5E6EB;
    width: 40px;
    height: 40px;    
    border-radius: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nr10-red-dot{
    position: absolute;
    background-color:#DE3F4F;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    top: 8px;
    left: 18px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .nr10-red-dot-right-side{
    position: absolute;
    background-color:#DE3F4F;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    top: 4px;
    left: 25px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .nr10-relative{
    position: relative;
    height: 61px;
    display: flex;
      
    align-items: center; 
  }

  /* nr10 augšējā josla beigas*/
 
  /* nr10 rīku josla sākums*/

  .nr10-navigation {
    max-width: 877px;
    min-width: 480px;
    border-top: 1px solid #cfd0d4;
    border-bottom: 1px solid #cfd0d4;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .nr10-navigation nav a {
    text-decoration: none;
    color: #66676b;
    padding: 1.3125em 1em;
    line-height: 3.75em;
  }
  
  .nr10-navigation nav .active {
    color: #0572ef;
    border-bottom: 0.1875em solid #0572ef;
  }
  
  .nr10-active svg path {
    fill: #0572ef;
  }
  
  .nr10-navigation a svg {
    vertical-align: middle;
    fill: #66676b;
  }
  
  .nr10-options-buttons {
    padding-top: 0.7em;
  }
  
  .nr10-options-buttons a {
    line-height: 1.4em;
    display: inline-block;
    background: #e5e6eb;
    padding: 0.5em 0.6875em;
    border-radius: 0.375em;
    text-decoration: none;
  }
  
  .nr10-options-buttons a svg {
    width: 1em;
    padding-bottom: 0.125em;
  }
  
  .nr10-button-search {
    position: relative;
  }
  .nr10-button-search:hover::before {
    content: "Search";
    position: absolute;
    padding: 0.4em;
    background: #343434;
    color: #ffffff;
    top: 2em;
    left: 0;
    animation: example 2s;
  }
  
  @keyframes example {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .nr10-navigation {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .nr10-navigation {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 535px) {
    .nr10-options-buttons a span {
      display: none;
    }
  }

  /* nr10 rīku josla beigas*/
  

