body {
  height: 50px;
  background-color: gray; 
  background-image: linear-gradient(gray, white);
  }

  .main1 {
    max-width: 877px;
    min-width: 480px;
  }

  .foto {
    position: relative;
    height: 341px;
    width: 941px;
    display: inline-block;
    margin: 0 254px 0 243px;
  }

  .avatar {
    position: relative;
    height: 132px;
    width: 132px;
    display: inline-block;
    margin: -15px 0px 25px 253px;
    border-radius: 100px;
  }

  .name1 {
    display: inline-block;
    position: absolute;
    margin: 31px 0px 0 28px;

    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
  } 

  .industry1 {
    position: static;
    width: 62px;
    height: 20px;
    left: 440px;
    top: 429px;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #66676B;
  }

  .booknow { 
    display: inline-block;
    background: #0572EF;
    border-radius: 6px;
    padding:  10px 105px 20px 127px;
    height: 20px;
    margin: 0px 0  48px 420px;
  }

  .border {
    width: 877px;
    height: 1px;
    left: 285px;
    top: 490px;
    background: #9ba3c5;
  }

  main {
    max-width: 877px;
    min-width: 480px;
    background: #cacaca;
    min-height: 100px;
    padding: 16px 32px;
    margin: auto;
    display: grid;
    grid-template-columns: 375fr 502fr;
  }
  
  .column-left > div {
    height: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 16px 16px 0;
  }
  
  .column-posts > div {
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 0 16px 0;
  }

  td {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0px 0px; 
    position: fixed;
    width: 328px;
    height: 455px;
    /* left: 1037px;
    top: 1792px; */
    right: 84px;
    bottom: 0;
  }

  .chat-navigation-header nav {
    position: absolute;
    width: 328px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 0px 0px;
    display: flex;
  }

  .blue-circle {
    position: absolute;
    width: 33px;
    height: 33px;
    margin: 7px 287px 7px 8px;
  }

  .name {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 14px 237px 13px 48px;
  }

  .more-icon {
    position: absolute;
    margin: 23px 220.8px 18.84px 98px;
  }

  .minimize-icon {
    position: absolute;
    width: 15.17px;
    height: 2.17px;
    margin: 23px 47.83px 21.83px 265px;
  }

  .exit-icon {
    position: absolute;
    width: 15.17px;
    height: 15.17px;
    margin: 16px 16.83px 15.83px 296px;
  }
  
  .scrollable {
    overflow-y: scroll;
  }

  .tipically {
    position: absolute;
    width: 213px;
    height: 19px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 76px 58px 360px 57px;
  }

  .industry {
    position: absolute;
    width: 49px;
    height: 16px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #66676B;
    margin: 108px 146px 331px 133px;
  }

  .hi-sally {
    position: absolute;
    width: 306px;
    height: 48px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #66676B;
    margin: 130px 18px 277px 4px;
  }

  .when-you {
    position: absolute;
    width: 215px;
    height: 32px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #66676B;
    margin: 227px 63px 196px 50px;
  }

  #Question-A-goes-here {
    position: absolute;
    width: 170px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    margin: 270px 34px 155px 124px;
  }

  #Question-A-goes-here::placeholder {
    position: absolute;
    width: 148px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
  }

  #Question-B-goes-here {
    position: absolute;
    width: 170px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    margin: 318px 34px 107px 124px;
  }

  #Question-B-goes-here::placeholder {
    position: absolute;
    width: 148px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
  }

  #Question-C-goes-here {
    position: absolute;
    width: 170px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    margin: 366px 34px 59px 124px;
  }

  #Question-C-goes-here::placeholder {
    position: absolute;
    width: 148px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #080808;
  }

  .chat-navigation-footer nav {
    position: absolute;
    width: 328px;
    height: 52px;
    bottom: 0;
    background: #FFFFFF;
    display: flex;
  }

  .circle-plus{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 16px 298px 16px 10px;
  }

  .add-image {
    position: absolute;
    height: 17.83px;
    width: 18.56px;
    margin: 17px 268.43px 17.16px 41px;
  }

  .add-sticker {
    position: absolute;
    height: 17.83px;
    width: 18.56px;
    margin: 16px 236.27px 17.32px 74px;
  }

  .add-gif {
    position: absolute;
    height: 17.83px;
    width: 18.56px;
    margin: 16px 203.87px 18.17px 105px;
  }

  #Aa {
    position: absolute;
    width: 148px;
    height: 36px;
    background: #F1F2F5;
    border-radius: 100px;
    border: none;
    margin: 8px 45px 8px 135px;
  }

  #Aa::placeholder {
    position: absolute;
    width: 18px;
    height: 18px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #8C939C;
    padding-left: 10px;
  }

  .smile-icon {
    position: absolute;
    height: 19px;
    width: 19px;
    margin: 17px 54px 16px 255px;
  }

  .more-options {
    position: absolute;
    height: 10px;
    width: 10.5px;
    margin: 20.5px 18px 21.5px 299.5px;
  }

 /* nr.2 sākums */
.main{
  position: relative;
  width: 361px;
  height: 733px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.header-left{
  position: absolute;
  width: 58px;
  height: 24px;
  left: 16px;
  top: 15px;
  bottom: 694px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #080808;
}
.header-right {
  position: absolute;
  width: 47px;
  height: 18px;
  right: 16px;
  top: 21px;
  bottom: 694px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #0572EF;
}
.header-left:hover {
  text-decoration: underline #0572EF ;
}
.header-right:hover {
  text-decoration: underline #0572EF ;
}
.main map{
  position: relative;
  height: 170px;
  width: 329px;
  top: 53px;
  left: 16px;
}
.map iframe{
  left:16px;
  top:53px;
  height:170px;
  width:329px;
}
.map map-info {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 14px;
  bottom: 15px;
}
.map locator-red {
  position: absolute;
  width: 24px;
  height: 30px;
  right: 83px;
  bottom: 34px; 
}
.map whitebox{
  position: absolute;
  width: 296px;
  height: 64px;
  left: 21px;
  top: 21px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.whitebox locator-grey{
  position: absolute;
  width: 16px;
  height: 20px;
  left: 18px;
  top: 18px;
}
.address p{
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0572EF;
  position: absolute;
  left: 48px;
  top: 14px;
  width: 102px;
  height: 38px;
}
.info {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 16px;
  top: 245px;
}
.info-text {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #080808;
}
.Lorem {
  position: absolute;
  width: 297px;
  height: 84px;
  left: 48px;
  top: 241px;
}
.thumbs-up {
  position: absolute;
  left: 16px;
  top: 330px;
}

.bluer-circle {
  position: absolute;
  top: 367px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.circle1{
  top: 367px;
  right: 281px;
  position: absolute;
}
.circle2{
  top: 367px;
  right: 253px;
  position: absolute;
}
.circle3{
  top: 367px;
  right: 225px;
  position: absolute;
}
.circle4{
  top: 367px;
  right: 197px;
  position: absolute;
}
.circle5{
  top: 367px;
  right: 169px;
  position: absolute;
}
.circle6{
  top: 367px;
  right: 141px;
  position: absolute;
}
.circle7{
  top: 367px;
  right: 113px;
  position: absolute;
}
.circle8{
  top: 367px;
  right: 86px;
  position: absolute;
}
.white-dots{
  top: 382px;
  right: 94px;
  position: absolute;
}
.followers {
  position: absolute;
  left: 16px;
  top: 407px;
}
.check-ins  {
  position: absolute;
  left: 16px;
  top: 444px;
} 
.globe {
  position: absolute;
  left: 16px;
  top: 481px;
}
.phone {
  position: absolute;
  left: 17px;
  top: 519px;
}
.mail {
  position: absolute;
  left: 16px;
  top: 560px;
}
.email {
  position: absolute;
  left: 16px;
  top: 605px;
}
.time {
  position: absolute;
  left: 16px;
  top: 639px; 
}
.folder{
  position: absolute;
  left: 16px;
  top: 690px; 
}
.dot {
  position: absolute;
  left: 109px;
  top: 699px; 
}
.black-text {
  position: absolute;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #080808;
}
.black-text:hover{
  text-decoration: underline #0572EF ;
}
.blue-text{
  position: absolute;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #0572EF;
}
.blue-text:hover{
  text-decoration: underline #0572EF ;
}
.red-text{
  position: absolute;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #DE3F4F;
}
.red-text:hover{
  text-decoration: underline #0572EF ;
}
.item-hover:hover{
  background-color: #0572EF;
}
  
/* nr.2 beigas */
  

  


  /* nr10 augšējā josla sākums*/

  .nr10-topLineContainer{
    position: relative;
    width: 1448px;
    height: 61;
    background-color: white;
    margin: auto;   
  }
  .nr10-left-side-container{
    position: absolute;   
    width: 344px;
    height: 61px;
  }
  .nr10-middle-container{
    position: absolute;    
    width: 700px;
    height: 61px;
    left: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nr10-name-container{
    position: absolute;
    height: 61px;
    width: 165px;    
    left: 1080px;
  }
  .nr10-right-side-container{
    position: absolute;    
    width: 192px;
    height: 61px;
    right: 9px;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nr10-FB-icon-class{
    position: absolute;
    top:10px;
    left: 14px;
  } 
  .nr10-input-container {
    position: absolute;
    margin-left:62px;
    margin-top: 10px;        
  }
  .nr10-input-field {
    width: 281px;
    height: 40px;
    background-color: #F1F2F5;
    border-radius: 100px;
    border: 0;
    padding: 11px 11px 11px 37px;
  }
  nr10-input-field::placeholder {
    font-size: 15px;
    color: 66676B;
  }     
  .nr10-input-field:focus {
    outline: none;
    background-color: #e3e5e9;
  }
  .nr10-search-icon-class{
    position: absolute;
    top:12px;
    left: 12px;
  }

  .nr10-blue-dot{
    position: absolute;
    background-color:#0572EF;
    width: 30px;
    height: 30px;    
    border-radius: 15px;
    top: 16px;
    margin-right: 7px;           
  }
  .nr10-name{
    position: absolute;
    text-align: center;
    left: 36px;
    top: 21px;
    color: #080808;
    font-family: Helvetica;
    font-size: 18px; 
  }
  .nr10-round-container{
    background-color:#E5E6EB;
    width: 40px;
    height: 40px;    
    border-radius: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nr10-red-dot{
    position: absolute;
    background-color:#DE3F4F;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    top: 8px;
    left: 18px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .nr10-red-dot-right-side{
    position: absolute;
    background-color:#DE3F4F;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    top: 4px;
    left: 25px;
    font-size: 13px;
    font-family: Helvetica;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .nr10-relative{
    position: relative;
    height: 61px;
    display: flex;      
    align-items: center; 
  }

  

  /* nr10 augšējā josla beigas*/
 
  /* nr10 rīku josla sākums*/

  .nr10-navigation {
    max-width: 877px;
    min-width: 480px;
    border-top: 1px solid #cfd0d4;
    border-bottom: 1px solid #cfd0d4;
    margin: auto;
    display: flex;
    justify-content: space-between;   

  }
  
  .nr10-navigation nav a {
    font-family: Helvetica;
    font-size: 0.9375em;
    text-decoration: none;
    color: #66676b;
    padding: 1.3125em 1em;
    line-height: 3.75em;
  }

  .nr10-navigation nav :focus {
    color: #0572ef;
    border-bottom: 0.1875em solid #0572ef;
  }
  
  .nr10-navigation nav :focus svg path {
    fill: #0572ef;
  }
  
  .nr10-navigation a svg {
    vertical-align: middle;
    fill: #66676b;
  }
  
  .nr10-options-buttons {
    padding-top: 0.75em;
  }
  
  .nr10-options-buttons a {
    line-height: 2.25em;
    display: inline-block;    
    background: #e5e6eb;
    /*padding: 0.5em 0.6875em;*/
    border-radius: 0.375em;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 0.9375em;
    color: #080808;
    height: 2.25em;
    width: 6.875em;
    text-align: center;
    margin-right: 0.2em;
  }

  .nr10-options-buttons :focus {
    background: #E9F3FE;
    color: #0572EF;    
  }
  .nr10-options-buttons :focus svg path{
    fill: #0572ef;
    
  }
  
  .nr10-options-buttons .small{
    width: 2.75em;      

  }
  
  .nr10-options-buttons a svg {
    width: 1em;
    padding-bottom: 0.125em;
    align-items: center;    
  }

  
  
  .nr10-button-search {
    position: relative;
    

  }
  .nr10-button-search:hover::before {
    content: "Search";
    position: absolute;
    padding: 0.4em;
    background: #343434;
    color: #ffffff;
    top: 2em;
    left: 0;
    animation: example 2s;
  }
  
  @keyframes example {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .nr10-navigation {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .nr10-navigation {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 535px) {
    .nr10-options-buttons a span {
      display: none;
    }
    .nr10-options-buttons a svg {
      padding: 2px;
    }
  }

  /* nr10 rīku josla beigas*/
  

/* 5 bloks sakums */
.scrollable {
  overflow-x: scroll;
}

.post-gallery {
  width: 300%;
}
/* nestrada */
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
/* nestrada */
.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
} 

.post-image {
  display: inline-block;
  width: 300px;
  height: 375px;
  border-radius: 0.5em;
  padding-left: 0.375em;
  border: 1px;
  border-color: #e5e6eb;
}
.post-image img {
  width: 100%;
}

.post-image h3 {
  color: #080808;
  margin-left: 0.8125em;
}

.post-image p {
  color: #66676b;
  margin-left: 0.8125em;
}
.code_5_infotext {
  margin-left: 0.8125em;
  color: #080808;
}

.code_5_heading {
  display: flex;
  justify-content: space-between;
}

.code_5_avatar_info {
  padding-top: 0.6875em;
  padding-left: 1em;
}

.code_5_avatar_photo {
  width: 2.5625em;
  height: 2.5625em;
}

.code_5_avatar_name {
  width: 2.6875em;
  height: 1.25em;
}

.code_5_avatatar_time {
  display: flex;
  justify-content: start;
  margin-right: auto;
}

.code_5_dot {
  width: 0.125em;
  height: 0.125em;
  position: relative;
  top: 50%;
}

.code_5_planet {
  width: 0.75em;
  height: 0.75em;
}
.code_5_dots {
  margin-right: 1.6875em;
  width: 1em;
  height: 0.25em;
}

.code_5_comment-stat {
  display: flex;
  justify-content: space-between;
}

.code_5_comment-stat p {
  color: #66676b;
}

.code_5_comment-who {
  display: inline-block;
}
/* 5 bloks biegums*/